.btn-custom {
  color: #fff;
  background-color: $bg-color;
  text-transform: capitalize;
  height: 40px;
  min-width: 200px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.4s !important;
  &:hover {
    color: #fff;
    background: $bg-blue;
  }
}
