.header-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  .dropdown {
    button {
      padding: 0 8px;
      background: #1e5bee;
      display: flex;
    align-items: center;
    gap: 4px;
      img {
        height: 36px;
        width: auto;
      }
      i {
        font-size: 16px;
        position: relative;
        top: 1px;
        color: #000;
      }
    }

    .dropdown-menu {
      &.show {
        top: 4px !important;
      }
      .dropdown-item {
        border-left: 2px solid transparent;
        &.active {
          color: $text-btn-color;
          border-color: $text-btn-color;
          background: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-buttons .dropdown button {
    background-color: transparent;
  }
}
