.page-root {
  background-image: url("../../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .page-item {
    position: relative;

    .row.row-custom {
      height: 100vh;
      align-items: center;
      overflow: hidden;
      .col-custom {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    .page-item_image {
      max-width: 86%;
      margin: auto;
      z-index: 10;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .page-item {
  }
}

.container-custom {
  padding-left: 80px;
  padding-right: 80px;
}

// responsive

@media screen and (max-width: 540px) {
  .page-root {
    background-position: left;

    .container-custom {
      padding-left: 16px;
      padding-right: 16px;
    }

    .btn-custom {
      position: relative;
      z-index: 100;
    }
  }

  header .btn-custom {
    border: none;
    background: transparent;
    min-width: auto;
    color: $text-btn-color;
    font-weight: 700;
    padding-right: 0;

    &:hover {
      background: unset;
    }

    &:focus {
      box-shadow: none;
      color: #fff;
    }
  }

  .page-item {
    .page-item_content {
      h2 {
        font-size: 34px;
        line-height: 48px;
      }

      .content-cart_img {
        right: 4%;
        img {
          width: 120px;
        }
      }
    }
    .page-item_image {
      img {
        // margin-top: 48px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .container-custom {
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-root {
    position: fixed;
    height: 100%;
    overflow: hidden;

    .carousel {
      .carousel-indicators {
        position: fixed;
      }
    }
  }

  .page-root .page-item .row.row-custom {
    height: auto;
    overflow-x: hidden;
    margin-top: 70px;

    .page-item_image {
      max-width: 100%;
    }
    .page-item_content {
      width: 100%;
      .content-cart_img {
        right: 8%;
        z-index: 10;
        img {
          width: 120px;
        }
      }
    }
  }
}
